/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base Styles */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}

/* Headings */
h1,
h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Form Elements */
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

/* Buttons */
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

button:hover {
    background-color: #555;
}

/* Messages Display */
#messages div {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

/* Preformatted Text */
pre {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Optional Blockchain Styles */
#blockchain {
    margin-top: 20px;
}

.block {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
}

.block p {
    margin: 5px 0;
}

.block ul {
    list-style: none;
    padding: 0;
}

.block ul li {
    margin: 5px 0;
}

/* Panels */
.left-panel,
.right-panel {
    width: 48%;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-panel {
    margin-right: 2%;
}

.right-panel {
    margin-left: 2%;
}

/* Key Generation Block */
.key-generation-block {
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Message Creation Block */
.message-creation-block {
    background-color: #e8f5e9;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Message Block */
.message-block {
    background-color: #fce4ec;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Wide Column for Message Stream */
.message-stream-column {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#publicKey {
    font-size: 16px;
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    word-break: break-all;
}

#privateKey {
    font-size: 16px;
    padding: 10px;
    background-color: #fffde7;  /* легкий жовтуватий фон */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    word-break: break-all;
}
